<span class="box" *ngIf="syntaxTreeFormula">
    <span [ngSwitch]="syntaxTreeFormula.type">
        <span *ngSwitchCase="'MULTIPLICATION'">
            <app-tree-visualizer [syntaxTreeFormula]="syntaxTreeFormula.left"></app-tree-visualizer>
            *
            <app-tree-visualizer [syntaxTreeFormula]="syntaxTreeFormula.right"></app-tree-visualizer>
        </span>
        <span *ngSwitchCase="'DIVISION'">
            <app-tree-visualizer [syntaxTreeFormula]="syntaxTreeFormula.left"></app-tree-visualizer>
            /
            <app-tree-visualizer [syntaxTreeFormula]="syntaxTreeFormula.right"></app-tree-visualizer>
        </span>
        <span *ngSwitchCase="'ADDITION'">
            <app-tree-visualizer [syntaxTreeFormula]="syntaxTreeFormula.left"></app-tree-visualizer>
            +
            <app-tree-visualizer [syntaxTreeFormula]="syntaxTreeFormula.right"></app-tree-visualizer>
        </span>
        <span *ngSwitchCase="'SUBTRACTION'">
            <app-tree-visualizer [syntaxTreeFormula]="syntaxTreeFormula.left"></app-tree-visualizer>
            -
            <app-tree-visualizer [syntaxTreeFormula]="syntaxTreeFormula.right"></app-tree-visualizer>
        </span>
        <span *ngSwitchCase="'PAREN'">
            (<app-tree-visualizer [syntaxTreeFormula]="syntaxTreeFormula.expression"></app-tree-visualizer>)
        </span>
        <span *ngSwitchCase="'FUNCTION'">
            {{syntaxTreeFormula.name}} 
            (<span *ngFor="let argument of syntaxTreeFormula.arguments">
                <app-tree-visualizer [syntaxTreeFormula]="argument"></app-tree-visualizer>
            </span>)
        </span>
        <span *ngSwitchCase="'PI'">{{syntaxTreeFormula.value}}</span>
        <span *ngSwitchCase="'VARIABLE'">{{syntaxTreeFormula.name}}</span>
        <span *ngSwitchCase="'NUMBER'">{{syntaxTreeFormula.value}}</span>
    </span>
    <span (click)="deleteNode()" class="close">X</span>
</span>
